/* Participants */

.participant-entry {
	height: 300px;
    background-size:     	contain;                    
    background-repeat:   	no-repeat;
    background-position: 	center center;            
    background-color: 		white;
    background-origin:		content-box;
    display:				flex;
    padding: 				5px;
}

.participant-org {
	// color: #cbd5e1;
	color: green;
    background-color: rgba(15, 23, 42, 0.7);
    // opacity: 0;
    width: 100%;
}

.participant-entry .title {
	color: #cbd5e1;
}
